<% include partials/header.ejs %>
<div class="jumbotron jumbotron-fluid">

<div class="container">

    <h1 class=<%=course_info.status === 'OPEN' ? 'course-code-open' : 'course-code-closed'%>><%= course_info.status %></h1>
    <h2><%= course_info.title %></h2>
    <h4><%= course_info.instructor %></h4>
    <h4><%= course_info.code %></h4>
    <h5><%= course_info.time %></h5>
    <h5><%= course_info.location %></h5>

    <hr>
    <form action="/class/new" method="POST">
        <h4>Register for Notifications</h4>
        <div class="form-group">
            <label>email: <input class="form-control" type="email" required name="email" placeholder="youremail@domain"></label>
        </div>
        <button class="btn btn-success btn-lg" type="submit" name="code" value=<%=course_info.code%>>Add Class</button>
    </form>
</div>
</div>
<% include partials/footer.ejs %>
